
.u-f-aj{
	justify-content: space-between;
	align-items: center;
	display: flex;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #FBFCFE;
}

#wrap {
    text-align: left;
    margin: 0 auto;
    width: 75%;
	min-width: 1000px;
    background: #FBFCFE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-left: 1px solid #D1D3D4;
    border-right: 1px solid #D1D3D4;
    border-bottom: 1px solid #D1D3D4;
    font-size: 15px;
    z-index:-2;
}


#nav {
    margin: 0;
    list-style-type: none;
    display: block;
    width: 100%;
	display: flex; 
	justify-content: center;
	background:#0064A4
}

#nav li{
	width: 19%; 
	line-height: 40px; 
	text-align: center;
	transition: all 0.5s ease-in-out 0s;
	border:1px white solid; 
	border-top:none; 
	border-bottom:none;
}

#nav li a:link, #nav li a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


#nav li a{
	transition: all 0.5s ease-in-out 0s;
}

#nav li a:hover {
    color: black;
}

#nav li img{

vertical-align:middle;

}

#content {
    padding: 20px;
    z-index:-1;
}


p#cool {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "å¾®è½¯é›…é»‘";
    margin-top: 0;
    margin-bottom: 30px;
}

p#cool span {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500;
    -webkit-font-smoothing: antialiased;
}

p#cool span::before,
p#cool span::after {
    display: none;
    position: absolute;
    top: 0;
    left: -1px;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    content: attr(data-text);
}

p#cool span::before {
    z-index: 1;
    color: #FFD200;
    -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
    -ms-transform: scale(1.1, 1) skew(0deg, 20deg);
    transform: scale(1.1, 1) skew(0deg, 20deg);
}

p#cool span::after {
    z-index: 2;
    color: #0064A4;
    text-shadow: -1px 0 1px #0064A4, 1px 0 1px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateY(-40deg);
    transform: rotateY(-40deg);
}

p#cool span:hover::before {
    -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
    -ms-transform: scale(1.1, 1) skew(0deg, 5deg);
    transform: scale(1.1, 1) skew(0deg, 5deg);
}

p#cool span:hover::after {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}

p#cool span+span {
    margin-left: 0.1em;
}

@media (min-width:20em) {
    p#cool {
        font-size: 2em;
    }
    p#cool span::before,
    p#cool span::after {
        display: block;
    }
}

p#cool {
        font-size: 7em;
    }
p.text{
    font-size: 22px;
}


.body-one img{
		width: 330px;
		height: 90px;
		border-radius: 5px;
		margin-left: 30px;
	}
.body-one p{margin-right: 30px;}	


* {
    margin: 0;
    padding: 0;
}
